# Python bytecode and caches
__pycache__/
*.py[cod]
*.so
.mypy_cache/
.pytest_cache/
.cache/
.pyright/

# Virtual environments
venv/
.env/
.env.*/
.venv/

# token
*.pypirc

# VS Code settings
.vscode/

# Testing and coverage
.coverage
htmlcov/

# Packaging
*.egg-info/
build/
dist/

# Logs and temp files
*.log
*.tmp

# OS-specific
.DS_Store
Thumbs.db
